<!DOCTYPE html>
<html lang="en">
<head>
    
       

        <style>
            form {
                background-image: url("https://c4.wallpaperflare.com/wallpaper/49/266/455/flowers-white-flowers-minimalism-wallpaper-preview.jpg");
            }
        </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: rgb(42, 185, 225);"> 
    

  
    <h1>Welcome to flower sanctuary</h1>
    <p><b>welcome guest to the soumya prediction model</b></p>

   
   
    
    <form method="GET" action="/predict_flower">
        <p>
        
        <label>SepalLengthCm:</label>
        <input type="text" name="SepalLengthCm">
        </select>

        <br>
        <br>
        <br>
        <br>


        <label>SepalWidthCm:</label>
        <input type="text" name="SepalWidthCm">
        </select>

        <br>
        <br>
        <br>
        <br>


        <label>PetalLengthCm:</label>
        <input type="text" name="PetalLengthCm">
        </select>

        <br>
        <br>
        <br>
        <br>
        <br>


        <label>PetalWidthCm:</label>
        <input type="text" name="PetalWidthCm">
        </select>

        <br>
        <br>
        <br>
        <br>


        <input type="submit" value="SUBMIT">

        <br>
        <br>
        <br>
        <br>



        <p>hello <b>soumya</b></p>
        <p>your flower species will be <b>{{prediction}}</b></p>

    </form>
    </p>

</body>
</html>

